<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tobias.androidclientif" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/if_gold_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <uses-feature android:name="android.hardware.camera"
            android:required="false" />

        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>

        <activity
            android:name=".Presentation_Layer.LoginActivity"
            android:label="Inspection Framework" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Presentation_Layer.MainActivity"
            android:label="Menu" >

        </activity>
        <activity
            android:name=".Presentation_Layer.MyAssignmentsActivity"
            android:label="Assignments" >

        </activity>

        <activity
            android:name=".Presentation_Layer.AssTasksActivity"
            android:label="Tasks">
        </activity>

        <activity
            android:name=".Presentation_Layer.TaskAttachActivity"
            android:label="Task Attachment">
        </activity>

        <activity
            android:name=".Presentation_Layer.AssignmentDetailsActivity"
            android:label="Assignment Details">
        </activity>

    </application>

</manifest>
